.action-button__counter {
  position: absolute;
  top: -3px;
  right: -6px;
  z-index: 1;
  width: 13px;
  height: 13px;
  background: #3366ff;
  border-radius: 50%;
  line-height: 13px;
  font-size: 10px;
  color: #ffffff;
}
