.radio-field__label_icon_pay-pal {
  display: inline-block;
  width: 117px;
  height: 23px;
  background-image: inline('radio-field__label_icon_pay-pal.svg');
  background-repeat: no-repeat;
  background-position: 32px 0;
  font-size: 0;
}
