.action-button_size_s {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 0;
  border: none;
  background-color: #ffffff;
}


/*
.basket-position__action {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 0;
  background-color: #ffffff;
}

.basket-position__action:first-child {
  margin-right: 43px;
}
*/
