.page {
	min-width: 768px;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.container {
	margin: auto;
	box-sizing: content-box;
}

.container_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
